 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Orelega+One&display=swap');
 p{
    font-size: 30px;
    font-weight: 800;
    font-style: oblique;
    color: aqua;
    text-decoration: underline;
    font-family: 'Orelega One', cursive;
}
